WpfApp2/Connected Services/login/login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://localhost:8080/login" xmlns:tns="http://localhost:8080/login" targetNamespace="http://localhost:8080/login" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://localhost:8080/login" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="LoginRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="login" type="xs:string" />
            <xs:element name="password" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LoginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="session" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="LoginResponse" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginRequest">
    <wsdl:part name="LoginRequest" element="tns:LoginRequest" />
  </wsdl:message>
  <wsdl:portType name="LoginPort">
    <wsdl:operation name="Login">
      <wsdl:input name="LoginRequest" message="tns:LoginRequest" />
      <wsdl:output name="LoginResponse" message="tns:LoginResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginPortSoap11" type="tns:LoginPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="" />
      <wsdl:input name="LoginRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LoginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginPortService">
    <wsdl:port name="LoginPortSoap11" binding="tns:LoginPortSoap11">
      <soap:address location="http://ec2-3-121-186-71.eu-central-1.compute.amazonaws.com:8080/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>