WpfApp2/Connected Services/isecurity/isecurity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://localhost:8080/isecurity" xmlns:tns="http://localhost:8080/isecurity" targetNamespace="http://localhost:8080/isecurity" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://localhost:8080/isecurity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetComputerDetailsRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="session" type="xs:string" />
            <xs:element name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetComputerDetailsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ComputerDetails" type="tns:ComputerDetails" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ComputerDetails">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element name="ip" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="LoginRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="login" type="xs:string" />
            <xs:element name="password" type="xs:string" />
            <xs:element name="computerId" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LoginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="session" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetPolicyRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="session" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetPolicyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policy" type="tns:policy" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="policy">
        <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="bannedApps" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="bannedSites" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="loginMethods" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetUserDetailsRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="session" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetUserDetailsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UserDetails" type="tns:UserDetails" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="UserDetails">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element name="firstName" type="xs:string" />
          <xs:element name="lastName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetPolicyResponse">
    <wsdl:part name="GetPolicyResponse" element="tns:GetPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDetailsResponse">
    <wsdl:part name="GetUserDetailsResponse" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="LoginRequest">
    <wsdl:part name="LoginRequest" element="tns:LoginRequest" />
  </wsdl:message>
  <wsdl:message name="GetComputerDetailsRequest">
    <wsdl:part name="GetComputerDetailsRequest" element="tns:GetComputerDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="GetUserDetailsRequest">
    <wsdl:part name="GetUserDetailsRequest" element="tns:GetUserDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="GetComputerDetailsResponse">
    <wsdl:part name="GetComputerDetailsResponse" element="tns:GetComputerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPolicyRequest">
    <wsdl:part name="GetPolicyRequest" element="tns:GetPolicyRequest" />
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="LoginResponse" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecurity">
    <wsdl:operation name="GetPolicy">
      <wsdl:input name="GetPolicyRequest" message="tns:GetPolicyRequest" />
      <wsdl:output name="GetPolicyResponse" message="tns:GetPolicyResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input name="GetUserDetailsRequest" message="tns:GetUserDetailsRequest" />
      <wsdl:output name="GetUserDetailsResponse" message="tns:GetUserDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input name="LoginRequest" message="tns:LoginRequest" />
      <wsdl:output name="LoginResponse" message="tns:LoginResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetComputerDetails">
      <wsdl:input name="GetComputerDetailsRequest" message="tns:GetComputerDetailsRequest" />
      <wsdl:output name="GetComputerDetailsResponse" message="tns:GetComputerDetailsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISecuritySoap11" type="tns:ISecurity">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPolicy">
      <soap:operation soapAction="" />
      <wsdl:input name="GetPolicyRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPolicyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="" />
      <wsdl:input name="GetUserDetailsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetUserDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="" />
      <wsdl:input name="LoginRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LoginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComputerDetails">
      <soap:operation soapAction="" />
      <wsdl:input name="GetComputerDetailsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetComputerDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISecurityService">
    <wsdl:port name="ISecuritySoap11" binding="tns:ISecuritySoap11">
      <soap:address location="http://ec2-3-121-186-71.eu-central-1.compute.amazonaws.com:8080/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>