WpfApp2/Connected Services/UserService/user.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://localhost:8080/user" xmlns:tns="http://localhost:8080/user" targetNamespace="http://localhost:8080/user" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://localhost:8080/user" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetUserDetailsRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetUserDetailsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UserDetails" type="tns:UserDetails" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="UserDetails">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element name="firstName" type="xs:string" />
          <xs:element name="lastName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetUserDetailsRequest">
    <wsdl:part name="GetUserDetailsRequest" element="tns:GetUserDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="GetUserDetailsResponse">
    <wsdl:part name="GetUserDetailsResponse" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="UserPort">
    <wsdl:operation name="GetUserDetails">
      <wsdl:input name="GetUserDetailsRequest" message="tns:GetUserDetailsRequest" />
      <wsdl:output name="GetUserDetailsResponse" message="tns:GetUserDetailsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserPortSoap11" type="tns:UserPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="" />
      <wsdl:input name="GetUserDetailsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetUserDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserPortService">
    <wsdl:port name="UserPortSoap11" binding="tns:UserPortSoap11">
      <soap:address location="http://ec2-3-121-186-71.eu-central-1.compute.amazonaws.com:8080/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>